<html>
<head>
	<title>Museum of Bath</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css') }}" />
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>
<body>
	<div class="body_container">
		<h1>Museum of Bath - Lighting Control</h1>
	
		<div class="floor_container">
			<div class="floor">
				<div class="room room1" data-state="off"></div>
				<div class="room room2" data-state="off"></div>
				<div class="room room3" data-state="off"></div>
			</div>
			
			<div class="floor">
			
			
			</div>
			
			<div class="floor">
			
			
			</div>
			
			<div class="floor">
			
			
			</div>
		</div>
	</div>

</body>
</html>
